<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main id="main-content" class="wp-block-group">
	<!-- wp:post-title {"level":1,"fontFamily":"playfair-display"} /-->
	<!-- wp:post-featured-image {"style":{"border":{"radius":"12px"}}} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

	<!-- wp:group {"layout":{"type":"flex","justifyContent":"space-between"}} -->
	<div class="wp-block-group">
		<!-- wp:post-date /-->
		<!-- wp:post-author {"showAvatar":false} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:separator {"className":"is-style-wide"} -->
	<hr class="wp-block-separator is-style-wide"/>
	<!-- /wp:separator -->

	<!-- wp:group -->
	<div class="wp-block-group">
		<!-- wp:heading {"level":3} -->
		<h3>Related Posts</h3>
		<!-- /wp:heading -->
		<!-- wp:query {"queryId":2,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date"},"displayLayout":{"type":"flex","columns":3}} -->
		<div class="wp-block-query">
			<!-- wp:post-template -->
			<!-- wp:post-title {"isLink":true,"level":4} /-->
			<!-- /wp:post-template -->
		</div>
		<!-- /wp:query -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->